@import './Colors.scss';

.header {
    .header-promocoes {
        background-color: $fg-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Titillium Web';
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 0.1rem;
        a:link { color: $bg-color; text-decoration: none;}
        a:visited { color: $bg-color; }
        a:hover { color: $blue1; }
        a:active { color: $blue1; }
    }


    .main-header {
        background: $bg-color;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
        height: 70px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .header-logo-maeztra {
            width: 147px;
            height: 18px;
        }

        .header-form-search {
            background-color: $gray1;
            border-radius: 8px;
        }

        .header-href-links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }
    }

    .header-nav-sub-topics {
        margin: 0px;
        padding: 0px 10% 0px 10%;
        .header-nav-ul-sub-topics {
            margin: 5px 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    a:hover { color: $blue1; }
    a:active { color: $blue1; }
}

@media screen and (max-width: $size_t){
    .header-form-search {
        display: none;
    }
}
@media screen and (max-width: 724px){
    .header-href-links {
        display: none !important;
    }
}
@media screen and (max-width: $size_small){
    .header-nav-sub-topics {
        display: none;
    } 
    .header-href-links {
        display: none !important;
        background-color: red;
    }
}

@media screen and (max-width: 1200px) {
    .header-form-search {
        display: none;
    }
    
}